<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мониторинг PT100 - Agilent 34970</title>


<!--    <link rel="stylesheet" href="../static/styles.css">-->
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">

</head>
<body>
    <div class="connection-status disconnected" id="connectionStatus">
        WebSocket: Отключен
    </div>

    <div class="container">
        <div class="header">
            <h1>🎛️ Мониторинг датчиков PT100</h1>
            <p>Agilent 34970 - Real-time данные через FastAPI</p>
        </div>

        <div class="controls">
            <div class="control-group">
                <button id="btnStart" class="btn-start">🚀 Старт измерений</button>
                <button id="btnStop" class="btn-stop" disabled>⏹️ Стоп измерений</button>
            </div>
<!--            <div class="control-group">-->
<!--                <button id="btnRecordStart" class="btn-record" disabled>📝 Начать запись</button>-->
<!--                <button id="btnRecordStop" class="btn-record" disabled>⏸️ Остановить запись</button>-->
<!--            </div>-->
            <div class="control-group">
                <button id="btnExcel" class="btn-excel">📥 Сохранить в Excel</button>
                <div class="timer">
                    <label for="timerInput">⏱ Интервал измерений (секунды):</label>
                    <input type="number" id="timerInput" value="5" min="1" max="3600" step="1" class="timer-input">
                </div>
            </div>
        </div>

        <div class="status-panel">
            <div class="status-card" id="statusMeasuring">
                📊 Измерения: Остановлены
            </div>

            <div class="status-card" id="statusConnected">
                🔌 Прибор: Отключен
            </div>
            <div class="status-card" id="statusRunNumber">
                💾 Run number:
            </div>
        </div>

        <div class="data-grid" id="dataGrid">
<!--            uncomment for addition RTDs-->
<!--            <div class="data-card">-->
<!--                <h3>Канал 201</h3>-->
<!--                <div class="temperature">&#45;&#45; °C</div>-->
<!--            </div>-->
<!--            <div class="data-card">-->
<!--                <h3>Канал 202</h3>-->
<!--                <div class="temperature">&#45;&#45; °C</div>-->
<!--            </div>-->
<!--            <div class="data-card">-->
<!--                <h3>Канал 203</h3>-->
<!--                <div class="temperature">&#45;&#45; °C</div>-->
<!--            </div>-->
<!--            <div class="data-card">-->
<!--                <h3>Канал 204</h3>-->
<!--                <div class="temperature">&#45;&#45; °C</div>-->
<!--            </div>-->
            <div class="data-card">
                <h3>Канал 205</h3>
                <div class="temperature" id="t205">-- °C</div>
            </div>
            <div class="data-card">
                <h3>Канал 206</h3>
                <div class="temperature" id="t206">-- °C</div>
            </div>
            <div class="data-card">
                <h3>Канал 207</h3>
                <div class="temperature" id="t207">-- °C</div>
            </div>
            <div class="data-card">
                <h3>Канал 208</h3>
                <div class="temperature" id="t208">-- °C</div>
            </div>
            <div class="data-card">
                <h3>Канал 209</h3>
                <div class="temperature" id="t209">-- °C</div>
            </div>
            <div class="data-card">
                <h3>Канал 210</h3>
                <div class="temperature" id="t210">-- °C</div>
            </div>
        </div>

        <div class="chart-container">
            <div class="chart-title">📈 График температуры в реальном времени</div>
            <canvas id="temperatureChart"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@^2"></script>
<!--    <script src="/static/js/script_old_work.js"></script>-->
    <script src="/static/js/script.js"></script>

</body>
</html>
